.gameCard{
    padding:10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    margin:5px;
}
#selectPlaylist{
    background-color: rgb(187, 181, 192);
    position:absolute;
    padding:1px;
    z-index: 11;
}
#selectPlaylist button{
    margin:2px;
    text-align: left;
    max-width: 200px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
img{
    border-radius: 6px;
}
button{
    background-color:white;
    transition: background-color 0.075s ease-in-out;
}
#cover{
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    z-index: 10;
    background-color:rgba(0, 0, 0, 0);
}
.playlistCard{
    padding:10px;
    border-radius: 5px;
    max-width: min-content;
    text-align: center;
    margin:5px;
}
@property --top-color {
    syntax: "<color>";
    inherits: false;
    initial-value: #7b8586;
}
.playlistCard:hover {
    --top-color: #96afb3;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.61));
}
.card{
    --top-color: #7b8586;
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
    background-image: linear-gradient(to bottom, var(--top-color) 0%,#7b8586 100%);
    transition: filter 0.1s ease-in-out, --top-color 0.1s ease-in-out;
}
.playlistCard h3 {
    max-width: 100px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#playlistVisual{
    left:15vw;
    height:30vh;
}
button:hover{
    background-color: rgb(201, 201, 201);
    cursor:pointer;
}
.playlistCover{
    width: clamp(75px, 10vw, 150px);
    height: auto;
}
.hold{
    background-color: rgb(155, 155, 155);
    padding:5px;
    border-radius: 5px;
    margin:5px;
}
#playlistCollection{
    display:flex;
    flex-direction: row;
}
.delete{
    height:65px;
    width:65px;
    margin:auto;
    margin-right:10px;
    margin-left:0px
}
.gameCover{
    width: clamp(75px, 10vw, 150px);
    height: auto;
    margin-top:auto;
    margin-bottom:auto;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(56, 56, 56);
}
header{
    background-color: rgba(0, 0, 0, 0);
    margin:0px;
    padding:0px;
}
#homebutton{
    height:50px;
    width:50px;
}
#playlistInfo{
    background-color: rgb(75, 75, 75);
    color:white;
    padding:5px;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
}
#uhhTitleIguess{
    margin:20px;
    font-size:200%;
}
#uhhTitleIguess button{
    font-size:90%;
}