header{
    background-color: blue;
}
.scrollable{
    background-color: cyan;
    flex-direction: row;
}
img{
    left:50%;
    
    width:90%;
    border-radius: 10px;
}
.gameCard{
    background-color: red;
    width:300px;
}