#chess{
    background-color: rgb(127, 127, 127);
    border: 3px solid black;
}
td{
    border: 3px solid rgba(0, 0, 0, 0);
    height:50px;
    width:50px;
}
.piece{
    position:absolute;
    width:45px;
    height:45px;
}