h1{
    color:red;
}
header{
    text-align: center;
}
main{
    display: block;
    text-align: center;
    margin:auto;
}
div{
    color: pink;
}
button{
    background-color: coral;
}
button:hover{
    color:coral;
}
body{
    background-color:black;
}